@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nanum+Gothic:wght@400;700;800&display=swap');

$font__logo: 500 1.125rem 'Megrim', cursive;

$font__logo-main: 500 3.25rem 'Megrim', cursive;

$font__logo-mainResponsive: 500 4rem 'Megrim', cursive;

$font__nav: 500 1rem 'Montserrat', sans-serif;

$font__section-title: 400 3.25rem 'Montserrat', sans-serif;

$font__servicios: 500 1.25rem 'Roboto', sans-serif;

$font__servicios-descripcion: 400 1rem 'Roboto', sans-serif;

$font__nosotros: 500 1.063rem 'Montserrat', cursive;

$font__carrito: 500 1rem 'Roboto', sans-serif;

$font__contact-subtitile: 500 1.625rem 'Montserrat', cursive;

$font__footer: 400 0.75rem 'Montserrat', cursive;