#contact {
    background-attachment: fixed;
    background-image: url(../img/contact.png);
    h3 {
        color:$dark-grey;
        font: $font__contact-subtitile;
        margin-bottom: 2.5rem;
    }
    .form-group {
        margin-bottom: 1.5rem;
        input {
            padding: 1rem;
            &.form-control {
                height: auto;
            }
        }
        textarea {
            padding: 1rem;
            height: 100%;
            min-height: 10rem;
        }
        &.form-group-textarea {
            height: 100%;
        }
    }
}

.botonContacto {
    background-color: $dark-green;
        &:hover {
            color: black;
            background-color: $live-green;
        }
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 50%;
}